<%- include("header") -%>


<div class="fluid-container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm12">
            <div style="margin-top: 100px;text-align: center;" class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <h2>This is the about page of my todo list</h2>
            
                        <p>Hey this is muzammil i made this web app hope you enjoy 😊</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<%- include("footer") -%>
