body {
  background-image: -webkit-linear-gradient(65deg, #A683E3 50%, #E4E9FD 50%);
  background-color: #E4E9FD;
  font-family: 'Helvetica Neue', sans-serif;
}

h1 {
  color: #fff;
  padding: 10px;
  font-size: 24px;
}

.box {
  max-width: 800px;
  margin: 50px auto;
  background: #DFCCFB;
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

.box1 {
  max-width: 800px;
  margin: 50px auto;
  background: #b1a2c7;
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

#heading {
  background-color: #DFCCFB;
  text-align: center;
}

.item {
  min-height: 70px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #F1F1F1;
}

.item:last-child {
  border-bottom: 0;
}

input:checked+p {
  text-decoration: line-through;
  text-decoration-color: #A683E3;
}

input[type="checkbox"] {
  margin: 20px;
}

p {
  margin: 0;
  padding: 10px;
  font-size: 18px;
  font-weight: 400;
  color: #00204a;
}

form.item {
  text-align: center;
  margin-left: 20px;
}

button {
  min-height: 40px;
  width: 40px;
  border-radius: 50%;
  border-color: transparent;
  background-color: #A683E3;
  color: #fff;
  font-size: 20px;
  padding: 0;
  border-width: 0;
}

input[type="text"] {
  text-align: center;
  height: 40px;
  top: 8px;
  border: none;
  background: transparent;
  font-size: 16px;
  font-weight: 400;
  width: 100%;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: inset 0 -3px 0 0 #A683E3;
}

::placeholder {
  color: grey;
  opacity: 0.7;
}

/* Responsive Styles */
@media (min-width: 300px) and (max-width:900px) {
  h1 {
    font-size: 36px;
  }

  .box {
    width: 80%;
    margin: auto;
    text-align: center;
    max-width: 60%;
    margin: 10px;
    margin-left: 20%;
    padding: 10px;
    background: #DFCCFB;
    border-radius: 3px;
    box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
  }

  p {
    font-size: 20px;
  }

  button {
    min-height: 50px;
    width: 50px;
    font-size: 24px;
  }

  input[type="text"] {
    height: 50px;
    top: 10px;
    font-size: 18px;
  }
}